# Ignore the .git directory
.git

# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore temporary files
tmp/
*.tmp

# Ignore Dockerfile itself (not typically needed, but possible)
Dockerfile

.env
.vscode
